:root {
  --fondo-principal: #eaeaea;
  --color-anchor: green;
  --color-text: grey;
}

body {
  margin: 0;
}

header {
  background-color: var(--fondo-principal);
  padding: 20px;
}

main {
  padding: 20px;
}

p {
  width: 50%;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.title,
.subtitle {
  color: var(--color-text);
  margin: 0;
}

.menu li {
  display: inline;
}

.menu a,
p a {
  color: var(--color-anchor);
  text-decoration: none;
}
