* {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* Start TEAM */

.about {
  /* margin: 0 15px; */
  background-color: white;
}
.about-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: "rubik";
  line-height: 45px;
  color: aqua;
}
.about-text {
  text-align: center;
  font-family: "open sans";
  font-size: 16px;
  line-height: 24px;
  color: #54585a;
  margin-bottom: 30px;
}

/* Finish TEAM */

.square {
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -50%) rotate(-45deg);
}
/* Start strengths-weaknesse */

.container {
  /* margin: 0; */
  background-color: rgb(184, 184, 185, 0.2);
}
.strengths-weaknesses {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 15px; */
}

.strengths-title,
.weaknesses-title {
  font-family: "rubik";
  font-size: 22px;
  line-height: 45px;
  color: #099d8d;
  margin-top: 30px;
}
.strengths-text,
.weaknesses-text {
  /* align-items: center; */
  /* text-align: center; */
  font-family: "open sans";
  font-size: 16px;
  line-height: 24px;
  color: #54585a;
}
.weaknesses-text {
  margin-bottom: 45px;
}

/* Finish strengths-weaknesse */
