* {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* Start TEAM */

.about {
  /* margin: 0 15px; */
  background-color: white;
}
.about-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: "rubik";
  line-height: 45px;
  color: aqua;
}
.about-text {
  text-align: center;
  font-family: "open sans";
  font-size: 16px;
  line-height: 24px;
  color: #54585a;
  margin-bottom: 30px;
}

/* Finish TEAM */

/* .square {
    height: 25px;
    width: 25px;
    background-color: black;
    position: relative;
    transform: rotate(45deg);
    left: 50%;
    bottom: 180px;
  } */
/* .square {
    background-color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%) rotate(45deg); */
/* } */
/* .square::before {
    width: 20px;
    height: 20px;
    border-left: 50px solid;
    border-right: 50px solid;
    border-top: 100px solid red;
    background-color: thistle;
  } */
/* Start strengths-weaknesse */

.container {
  /* margin: 0; */
  background-color: rgb(184, 184, 185, 0.2);
}
.strengths-weaknesses {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 15px; */
}

.strengths-title,
.weaknesses-title {
  font-family: "rubik";
  font-size: 22px;
  line-height: 45px;
  color: #099d8d;
  margin-top: 30px;
}
.strengths-text,
.weaknesses-text {
  /* align-items: center; */
  /* text-align: center; */
  font-family: "open sans";
  font-size: 16px;
  line-height: 24px;
  color: #54585a;
}
.weaknesses-text {
  margin-bottom: 45px;
}

/* Finish strengths-weaknesse */
