<article>
  <h2>titulo post</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, totam
    accusantium? Quidem fugiat, quos labore vitae impedit quam excepturi atque
    doloremque nam odio sit, consequuntur temporibus, iusto magni recusandae
    nulla?
  </p>
</article>
<article>
  <h2>titulo post</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, totam
    accusantium? Quidem fugiat, quos labore vitae impedit quam excepturi atque
    doloremque nam odio sit, consequuntur temporibus, iusto magni recusandae
    nulla?
  </p>
</article>
<article>
  <h2>titulo post</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, totam
    accusantium? Quidem fugiat, quos labore vitae impedit quam excepturi atque
    doloremque nam odio sit, consequuntur temporibus, iusto magni recusandae
    nulla?
  </p>
</article>
